<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{order/orderNav.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Orders</title>
</head>
<body>
<div layout:fragment="order-content">
    <div class="tour-view h-100 w-100 px-4 py-3">
        <div class="tour-header-title w-100 mb-3 d-flex justify-content-between align-items-center">
            <h5>Order List</h5>
            <div class="d-flex justify-content-center">
                <a type="button" class="btn btn-primary "
                   th:href="@{/admin/v1/order/create}">Create Order</a>
            </div>
        </div>

        <table id="tour-detail-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Phone Number</th>
<!--                <th>Booking Date</th>-->
<!--                <th>Status</th>-->
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderList}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.firstName} + ${order.lastName}"></td>
                <td th:text="${order.phoneNumber}"></td>
<!--                <td th:text="${order.bookingDate}"></td>-->
<!--                <td th:text="${order.status}"></td>-->
                <td th:value="${order.orderId}" class="d-flex justify-content-center gap-1 ">
                    <a type="button" class="btn btn-success btn-small d-flex justify-content-center align-items-center "
                       th:href="@{/admin/v1/order/edit/id (id=${order.orderId}) }"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a type="button" class="btn btn-danger btn-small d-flex justify-content-center align-items-center"
                       th:href="@{/admin/v1/order/delete/id (id=${order.orderId}) }"
                       th:onclick="return confirm('Are you sure want to delete this accessory?')"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>